* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: url('../img/backGround\ \(2\).jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
}


h2 {
    color: #007bff;
}

p {
    font-size: 18px;
}

#mainContain {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bannerCTF {
    width: 100%;
    display: flex;
    flex-wrap: wrap nowrap;
    justify-content: space-between;
    align-items: center;
}

.puntuacion {
    font-size: 1.5em;
    color: blueviolet;
}

.boxCTF {
    padding: 1em;
    margin: 2em 0;
    width: 25em;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    background-color: rgb(192, 178, 255);
    border-radius: 1.5em;
}

.buttonFlag {
    display: flex;
    justify-content: center;
    width: 100%;
}

.buttonFlag > button {
    width: 80%;
}


#botonUser {
    padding: 0.5em;
    width: 8em;
    font-size: 1.5em;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    
    background: rgba(0, 0, 0, 0.1);
    border-radius: 2em;
}

#botonUser > a > i {
    color: #007bff;
}

#botonUser > a > i:hover {
    transform: scale(1.3,1.3);
    transition: 1s;
}

