/* Reset de estilos para eliminar márgenes y rellenos predeterminados */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-image: url('../img/backGround\ \(2\).jpg');
    background-size: cover; /* Cubrir todo el área */
    background-position: center; /* Centrar la imagen */
    display: flex;
    background-size: cover; /* Cubrir todo el área */
    background-position: center; /* Centrar la imagen */
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo para el contenedor principal */
main {
    max-width: 400px;
    width: 100%; /* Ajustar el ancho al 100% para ocupar todo el ancho disponible */
    background-color: #fff;
    padding: 50px; /* Ajustar el padding según sea necesario */
    margin: 100px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para el enlace */
main a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #333;
    text-decoration: none;
    margin-bottom: 1.5em;
}

/* Estilo para el enlace al pasar el cursor */
main a:hover {
    text-decoration: underline;
}

/* Estilo para el encabezado */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Estilo para el formulario */
form {
    display: flex;
    flex-direction: column;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    height: 10em;
    width: 10em;
    margin-bottom: 2em;
    border-radius: 5em;
}

/* Estilo para las etiquetas de los campos de entrada */
label {
    margin-bottom: 5px;
    color: #333;
}

/* Estilo para los campos de entrada */
input[type="text"],
input[type="password"] {
    padding: 14px 20px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Estilo para el botón de enviar */
button {
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilo para el botón de enviar al pasar el cursor */
button:hover {
    background-color: #0056b3;
}

/* Estilo para el mensaje de error */
.error-message {
    color: red;
    text-align: center;
    margin-top: 10px;
}

#registerSuccess {
    margin-top: 10px;
    display: flex;
    color: green;
    justify-content: center;
    align-items: center;
    align-content: center;
}
